{% extends 'base.html.twig' %}

{% block title %}
recette
{% endblock %}

{% block body %}
{% for recipe in recipes %}

    <li>
         <a href="{{ path ('recipe.show',{id: recipe.id, slug: recipe.slug}) }}">{{ recipe.Title}}</a>
    </li>

{% endfor %}

{% endblock %}